<h1>My Session ID is <%= request.session.id %></h1>
<h1>Session Emp ID is <%= session[:emp_id] %></h1>
<h1>Session Salary is <%= session[:salary] %></h1>
<h1>Session IsActive is <%= session[:is_active] %></h1>
<h1>Session EmpName is <%= session[:emp_name] %></h1>
