<% raise product.inspect %>

<% if product %>
<tr class="product-<%= product['id']" %>
  <input type="hidden" class="product-price" value="<%= product['price'] %>">
  <td><%= product['title'] %></td>
  <td><%= image_tag product['image'], class: 'img-fluid', style: 'height: 50px; object-fit: contain;' %></td>
  <td>$<%= product['price'] %></td>
  <td><div class="d-flex mb-4">
    <button class="btn btn-danger btn-minus px-2 me-2">
      <i class="">-</i>
    </button>
    <div class="form-outline">
      <input type="number" class="form-control qty" value="1" min="1">
      <button class="btn btn-danger btn-plus px-2 ms-2">+</button>
    </div>
  </div></td>
  <td>
    <%= link_to remove_cart_path(product['id']), method: :delete, class: 'btn btn-danger' do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>
  </td>
</tr>

<% end %>