<% @products.each_with_index do |product, index| %>
  <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card h-100 d-flex flex-column shadow-sm">
      <div class="position-relative">
        <%= image_tag product["image"], class: "card-img-top img-fluid p-3", style: "height: 200px; object-fit: contain;" %>
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-truncate"><%= product["title"] %></h5>
        <p class="card-text"><strong>Price:</strong> $<%= product["price"] %></p>
        <p class="card-text">
          <strong>Rating:</strong> <%= product["rating"]["rate"] %> ⭐
          (<%= product["rating"]["count"] %> reviews)
        </p>
        <div class="mt-auto text-center">
            <%= link_to add_cart_path(product['id']), class: 'btn btn-danger w-100', remote: true do %>
              <span class="bi bi-cart4"></span> Add to Cart
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>