<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="text-center mb-4">Employee List</h1>
      <div class="text-center mb-3">
        <%= link_to "Export as PDF", export_as_path(export_type: 'pdf', format:
        :pdf), class: 'btn btn-success mx-1' %> <%= link_to "Export as CSV",
        export_as_path(export_type: 'csv', format: :csv), class: 'btn
        btn-primary mx-1' %> <%= link_to "Export as TXT",
        export_as_path(export_type: 'txt', format: :txt), class: 'btn
        btn-secondary mx-1' %> <%= link_to "Export as XLS",
        export_as_path(export_type: 'xls', format: :xls), class: 'btn btn-info
        mx-1' %> <%= link_to "Export as DOCX", export_as_path(export_type:
        'docx', format: :docx), class: 'btn btn-warning mx-1' %>
      </div>
      <% if @employees.present? %>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each_with_index do |emp, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= emp.firstname %></td>
            <td><%= emp.lastname %></td>
            <td><%= number_to_currency(emp.salary) %></td>
            <td><%= emp.notes %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <div class="alert alert-warning text-center" role="alert">
        No Data Found
      </div>
      <% end %>
    </div>
  </div>
</div>
